name: Build project and run Lighthouse CI
on: [push]
jobs:
  lighthouse:
    name: Lighthouse
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Setup Lighthouse
        run: npm install -g @lhci/cli@0.8.2
      - name: Lighthouse Report
        run: lhci autorun --upload.target=temporary-public-storage --collect.staticDistDir=. || echo "LHCI! can only run with Chromium remote configuration"
